* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-align: center;
    
}

body {
    background: linear-gradient(135deg, #0f2027, #036618b4, #396839);
    min-height: 100vh;
    padding: 30px;

}

h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background: rgb(216, 216, 216);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 25px 40px rgba(0,0,0,0.4);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h2 {
    padding: 15px;
    font-size: 18px;
    color: #1d8326;
    background: #f4f6f8;
}
button{
    width: 100%;
    border: none;
    background-color: rgb(1, 128, 33);
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width:200px;
}
button:hover{
    box-shadow: 10px 5px 5px rgb(8, 56, 1);
    background-color: rgb(43, 163, 103);
    color: white;
    
}
 .invisible {
    display: none;
 }

.searchcontainer{
    margin-bottom: 40px;
    margin-top: 40px;    
    align-items: center;
    display: flex;
    justify-content: center;
}

.barra{
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    padding-left: 10px;
}

h1{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.botonbuscar{
    margin-top: 50px;
    margin-bottom: 50px;
    width:200px;
}